# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [73]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [74]:
cities_df = pd.read_csv('../output_data/cities.csv')
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kapaa,22.0752,-159.3190,75.99,83,75,11.50,US,1613871887
1,Barrow,71.2906,-156.7887,-16.60,76,75,9.22,US,1613871622
2,Longyearbyen,78.2186,15.6401,23.00,63,40,6.91,SJ,1613872043
3,Sainte-Rose,16.3324,-61.6979,73.40,83,0,3.44,GP,1613872043
4,Zenzeli,45.9241,47.0474,18.59,95,7,7.63,RU,1613872044

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [76]:
# Create a map using state centroid coordinates to set markers
locations = cities_df[['Lat', 'Lng']]

humidity = cities_df['Humidity'].astype(float)


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)

                                 

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [77]:
hotel_df = cities_df.loc[(cities_df['Max Temp'] > 80) & (cities_df['Wind Speed'] < 10)]
hotel_df['Hotel Name'] = ''

hotel_df = hotel_df.head(10)

hotel_df

<ipython-input-77-5805c9bb5b00>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'] = ''

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
9,Avarua,-21.2078,-159.7750,82.40,78,75,6.91,CK,1613871621,
20,Labuhan,-6.8844,112.2051,80.37,81,100,6.82,ID,1613872046,
27,Hilo,19.7297,-155.0900,80.60,57,40,9.22,US,1613871628,
32,Auki,-8.7676,160.7034,83.25,76,100,3.33,SB,1613872048,
36,Touros,-5.1989,-35.4608,80.60,78,20,8.05,BR,1613872049,
47,George Town,5.4112,100.3354,82.40,65,20,8.05,MY,1613871911,
64,Yeppoon,-23.1333,150.7333,93.20,43,40,8.05,AU,1613871963,
66,Majene,-3.5403,118.9707,87.17,58,27,6.71,ID,1613872114,
78,Geraldton,-28.7667,114.6000,80.60,41,0,5.75,AU,1613872116,
81,Alice Springs,-23.7000,133.8833,96.80,17,0,6.91,AU,1613872117,

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [78]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    params = {
        "radius": 50000,
        "location": str(row['Lat']) + ', ' + str(row['Lng']),  # philadelphia coords
        "types": "lodging",
        "keyword": "hotel",
        "key": g_key,
    }

    response = requests.get(base_url, params=params).json()

    try:
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
                       
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
9,Avarua,-21.2078,-159.7750,82.40,78,75,6.91,CK,1613871621,Pacific Resort Rarotonga
20,Labuhan,-6.8844,112.2051,80.37,81,100,6.82,ID,1613872046,Hotel Santika Gresik
27,Hilo,19.7297,-155.0900,80.60,57,40,9.22,US,1613871628,Volcano Inn
32,Auki,-8.7676,160.7034,83.25,76,100,3.33,SB,1613872048,Auki Lodge
36,Touros,-5.1989,-35.4608,80.60,78,20,8.05,BR,1613872049,Siri Paraíso Hotel

In [79]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [80]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
                            info_box_content=hotel_info)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))